<%- include('./template/header') %>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
        <div class="w3-display-topleft w3-padding-large w3-xlarge">
          Lizard Url Shortener
        </div>
        
        <div class="w3-display-middle">
                
            <div id="shiva">
                <span class="count" id="timernya">5</span>
            </div>

            <a id="buttonnya" href="<%= original %>" class="w3-button w3-teal hilang">Menuju Kesana</a>
           
        </div>


        <div class="w3-display-bottomleft w3-padding-large">
          Design by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a>
        </div>
      </div>


<%- include('./template/footer') %>